#main {
    height: 100vh;
    margin-top: auto;
    margin-bottom: auto;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 92px;
    width: 272px;
}

#search-bar {
    width: 482px;
    height: 42px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    border-style: groove;
    border-color: lightgray;
}

#search {
    width: 398px;
    height: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

#buttons-div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 15%;
}

.button {
    height: 40px;
    width: 120px;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    color: #5F6368;
    text-align: center;
    display: inline-block;

}

#about {
    text-align: left;
}

#gmail {
    text-align: right;
}

#glass {
    position: relative;
    top: -25px;
    width: 3%;
    left: 15px;
}

#content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}